<a href="https://colab.research.google.com/github/codeforhk/python_practitioner/blob/master/py_class_1_and_2_recap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 1: Intro to the Python programming lauguage

## The Zen of Python

In [0]:
# The zen of Python

import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Module 2: Data Types and OperatorsÂ¶

## 2.0.0 Assigning Variable

In [0]:
# Let's say assign the value 1 to x, then execute the cell by CTRL+ENTER

x = 1

#From now on, python recognise x is equal to 1

In [0]:
# This will create an error, called "SyntaxError". It means python doesn't understand it! 
# (You should see this very often from now on)

1 = x

In [0]:
x # Try execute me!

### 2.0.1 Reassigning variable

In [0]:
# You can assign anything to the variable. 

x = 'an expensive iphone'
x

## 2.1.0 Data Types

### 2.1.1 Integer

In [0]:
# Interger

y = 2
type(y)

### 2.1.2 Float

In [0]:
# Float

z = 3.1416
type(z)

In [0]:
# You can change the type from float to integer using int()

int(z)

### 2.1.3 String

In [0]:
this_is_a_string = 'Patrick'
this_is_also_a_string = "$%%^&*()njfnksdjfsdyftuy32uygsjdhfbmnasd"
number_can_also_be_string = "123456"

In [0]:
# Anything within a " or ' will be a string

myname = "Patrick"
type(myname)

In [0]:
# String can be concatenated by using + sign

firstname  = 'Cristiano'
lastname = 'Ronaldo'

fullname = firstname + ' ' + lastname # Space also counts as string
fullname

In [0]:
# Remember Integer and Float? They will also be string desipte they are not

one = '1'
two = '2.2'

one + two #

In [0]:
int(one) + float(two)

### 2.1.4 Reserved Keywords in Python

In [0]:
# Don't use these keywords as variable !!! 
# They have special meanings and usage in Python
# Here are some of the examples

False
None
and
if
for
from
import
as
is
in
print

## 2.2.0 Math Operations in Python

- Summation
- Subtraction
- Multiplication
- Division

### 2.2.1 Summation

In [0]:
# You can use it like a calculator. Try 6 + 7? you should be expecting 13?

6 + 7

In [0]:
#Let's say I want to know how much to does it cost to the buy whole set of iphone

iphoneX = 9998
airpods = 1288

price_for_new_iphone = iphoneX + airpods
price_for_new_iphone

### 2.2.2 Subtraction

In [0]:
# You can use it like a calculator. Try 8 - 2? you should be expecting 6?

8 - 2

In [0]:
# Assign 2019 to a variable called THISYEAR, 

THIS_YEAR = 2019

In [0]:
# Assign the year of your birthday to  a variable called BIRTHYEAR

BIRTH_YEAR =      # Don't forget to assign a birth year to the BIRTHYEAR variable

In [0]:
# Work out your age by substracting BIRTHYEAR by THISYEAR

age = THIS_YEAR - BIRTH_YEAR
age

### 2.2.3 Multiplication

In [0]:
# You can use it like a calculator. Try 7 * 6? you should be expecting 42?

7 * 6

In [0]:
# Let's assign 7.8 to a variable called exchange_rate

exchange_rate = 7.8

In [0]:
# Let's assign 7.8 to a variable called exchange_rate

exchange_rate = 7.8

# Assign 100 to a variable called usd

usd = 100   

#workout how much hkd is worth of 100 usd
hkd = usd * exchange_rate

hkd

### 2.2.4 Division

In [0]:
# You can use it like a calculator. Try 12 / 6? you should be expecting 2?


12 / 6

In [0]:
# In division, the result would be float by default
# You can do divsion with two slash (//) to indicate you want Integer as results

12 // 6

### 2.2.5 More examples

In [0]:
# You don't need to define the type of variable. The interpreter will guess.

a = 4
b = 3

print(a + b)
print(a - b)
print(a * b) 
print(a / b)

In [0]:
# As in the previous example, if one element is floating point
# the interpreter will do an automatic cast

a = 6.   ## this is now a float
b = 7

print(a + b)
print(a - b)
print(a * b) 
print(a / b)

## 2.3.0 Logical operation (Boolean, True or False)

### 2.3.1 The equal (==) sign

In [0]:
## The == sign will determin whether the two values are equal

x = 1
x == 1 # Check if x equals one

### 2.3.2 The not equal (!=) sign

In [0]:
## The != sign will determin whether the two values are equal

x = 1
x != 1 # Check if x equals one

### 2.3.3 Inequality signs (>, <)

In [0]:
# > and < sign means bigger or smaller

iphone = 9000
samsung = 5000

# You can change the sign to see a different results

iphone > samsung

### 2.3.4 Using them together >=, <= etc.

In [0]:
iphone <= samsung

## 2.4.0 String Operations

In [0]:
# Python can handle very long text as well

wiki = "Python is a widely used high-level programming language for general-purpose programming, created by Guido van Rossum and first released in 1991"

print(wiki)

### 2.4.1 Slicing strings

In [0]:
# You can try to slice different parts of a string
# by using the index

# The first letter will be indexed as 0

wiki[0]

In [0]:
# The last letter will be indexed as -1 

wiki[-1]

In [0]:
# You can also use [beginning_index:ending_index] to slice
# a range of string into a shorter string (or called substring)

wiki[0:23]

### 2.4.2 String related functions

In [0]:
# Finding the location of a substring
# It will return the first index if finds the substring

print(wiki.find("Python"))

In [0]:
## Changing string to uppercase

print(wiki.upper())

In [0]:
## Changing string to lowercase

print(wiki.lower())

In [0]:
## Replacing substrings to something else

print(wiki.replace('high', 'low'))

In [0]:
## these operations do not modify the original string

print(wiki)

In [0]:
# We can count the occurrences of a letter or word 

print(wiki.count('a'))
print(wiki.count('Python'))

In [0]:
# "in" keyword returns a boolean

print("python" in wiki)
print("language" in wiki)

In [0]:
## .split() separates fields 

print(wiki.split())
# It would return a new data type called "list"

In [0]:
# You can use them together !

# Change all the letters to lower case and count occurnce of a word

print(wiki.lower().count('python'))

# Module 3: Data Structures (List, Dictionary, Tuple, Dataframe)

## 3.1.0 List

### 3.1.1 List syntax

In [0]:
# We use square brackets to indicate a list

sea_creatures = ['shark', 'cuttlefish', 'squid', 'mantis shrimp', 'anemone']
print(sea_creatures)

['shark', 'cuttlefish', 'squid', 'mantis shrimp', 'anemone']

In [0]:
# We can check the type of the sea_creatures variable

type(sea_creatures)

list

### 3.1.2 List & Index

In [0]:
# List begins at zero. similar to string slicing

num_list = [1,2,3,4,5]

print(num_list[0]) # use square bracket to indicate anything "index". index begins at 0 - 
# and this expression is trying to get the first item from the list!

#This to select the second item
print(num_list[1])

#This to select the last item
print(num_list[-1])

#This to select the second last item
print(num_list[-2])

1
2
5

In [0]:
# And this is how to selet more than one item in list

print(num_list[0:5])
print(num_list[3:])
print(num_list[:3])

[1, 2, 3, 4, 5]
[4, 5]
[1, 2, 3]

### 3.1.3 Length of a list

In [0]:
# You can use the len() function to look for the length of a list

num_list = [1,2,3,4,5]
len(num_list)

5

### 3.1.4 Manipulating the list

In [0]:
# You can add item to the list using append()

empty_list = []
empty_list.append(1)
empty_list.append(2.0)
empty_list.append('three')
print(empty_list)

In [0]:
# You can remove a certain item using remove()

num_list = [1,2,3,4,5]
num_list.remove(1)
print(num_list)

In [0]:
# To sort the list, use .sort()

num = [100,-20,1,2,3,1]
num.sort()
print(num)

In [0]:
# To find the max, use .max()

num = [100,-20,1,2,3,1]
print(max(num))

# You can find the minmun using min() as well

num = [100,-20,1,2,3,1]
print(min(num))

100
-20

In [0]:
# To count a certain item, use count

num = [100,-20,1,2,3,1]
num.count(1)

In [0]:
# You can "add" two list together to form a longer list
# This is called concatenating list 

asia = ["china", "japan", "india"]
europe = ["france", "germany", "italy"]

asia + europe

['china', 'japan', 'india', 'france', 'germany', 'italy']

### 3.1.5 Creating complex list

In [0]:
# List can be of a more complicatd structure
# Such as a list of list, or 2D list

a = [1, 2, 3]
b = [3, 4, 5]
c = [5, 6, 7]

[a,b,c]

[[1, 2, 3], [3, 4, 5], [5, 6, 7]]

### 3.1.6 Working with strings & list

In [0]:
# You can use .split() to split a long string into a list

shape_of_you = "The club isn't the best place to find a lover.  So the bar is where I go (mmmm).  Me and my friends at the table doing shots.  Drinking fast and then we talk slow (mmmm).  And you come over and start up a conversation with just me.  And trust me I'll give it a chance now (mmmm).  Take my hand, stop, put Van The Man on the jukebox.  And then we start to dance.  And now I'm singing like.  .  Girl, you know I want your love.  Your love was handmade for somebody like me.  Come on now, follow my lead.  I may be crazy, don't mind me.  Say, boy, let's not talk too much.  Grab on my waist and put that body on me.  Come on now, follow my lead.  Come, come on now, follow my lead (mmmm).  .  I'm in love with the shape of you.  We push and pull like a magnet do.  Although my heart is falling too.  I'm in love with your body.  Last night you were in my room.  And now my bedsheets smell like you.  Every day discovering something brand new.  I'm in love with your body.  .  Oh I oh I oh I oh I.  I'm in love with your body.  Oh I oh I oh I oh I.  I'm in love with your body.  Oh I oh I oh I oh I.  I'm in love with your body.  Every day discovering something brand new.  I'm in love with the shape of you.  .  One week in we let the story begin.  We're going out on our first date (mmmm).  You and me are thrifty, so go all you can eat.  Fill up your bag and I fill up a plate (mmmm).  We talk for hours and hours about the sweet and the sour.  And how your family is doing okay (mmmm).  And leave and get in a taxi, then kiss in the backseat.  Tell the driver make the radio play.  And I'm singing like.  .  Girl, you know I want your love.  Your love was handmade for somebody like me.  Come on now, follow my lead.  I may be crazy, don't mind me.  Say, boy, let's not talk too much.  Grab on my waist and put that body on me.  Come on now, follow my lead.  Come, come on now, follow my lead (mmmm).  .  I'm in love with the shape of you.  We push and pull like a magnet do.  Although my heart is falling too.  I'm in love with your body.  Last night you were in my room.  And now my bedsheets smell like you.  Every day discovering something brand new.  I'm in love with your body.  .  Oh I oh I oh I oh I.  I'm in love with your body.  Oh I oh I oh I oh I.  I'm in love with your body.  Oh I oh I oh I oh I.  I'm in love with your body.  Every day discovering something brand new.  I'm in love with the shape of you.  .  Come on, be my baby, come on.  Come on, be my baby, come on.  Come on, be my baby, come on.  Come on, be my baby, come on.  Come on, be my baby, come on.  Come on, be my baby, come on.  Come on, be my baby, come on.  Come on, be my baby, come on.  .  I'm in love with the shape of you.  We push and pull like a magnet do.  Although my heart is falling too.  I'm in love with your body.  Last night you were in my room.  And now my bedsheets smell like you.  Every day discovering something brand new.  I'm in love with your body.  .  Come on, be my baby, come on.  Come on, be my baby, come on.  I'm in love with your body.  Come on, be my baby, come on.  Come on, be my baby, come on.  I'm in love with your body.  Come on, be my baby, come on.  Come on, be my baby, come on.  I'm in love with your body.  Every day discovering something brand new.  I'm in love with the shape of you"
shape_of_you_list = shape_of_you.split('.') # Split by the "."
shape_of_you_list[:3]

## 3.2.0 Dictionary

### 3.2.1 Dictionary Syntax

In [0]:
# Dictionary is also called as a "key value pair". 
# You can directly extract the value based on the key

# Let's make a dictionary:
mygeobook = {"Country":"USA","Capital":"Washington,Dc","President":"Donald Trump","Region":"America"}

mygeobook['Country'] # Try change this to different keys in the dictionary

'USA'

In [0]:
# We can check the type of the mygeobook variable

type(mygeobook)

dict

### 3.2.2 Dictionary examples

In [0]:
# You can reassign a new value by the key

mygeobook['Region'] = "North America"

mygeobook # Region changed from "America" to "North America"

{'Capital': 'Washington,Dc',
 'Country': 'USA',
 'President': 'Donald Trump',
 'Region': 'North America'}

In [0]:
# It can also store a list as the value

mygeobook['Cities'] = ['new york', 'san fransisco', 'chicago']

mygeobook

{'Capital': 'Washington,Dc',
 'Cities': ['new york', 'san fransisco', 'chicago'],
 'Country': 'USA',
 'President': 'Donald Trump',
 'Region': 'North America'}

## 3.3.0 Tuple

### 3.3.1 Tuple syntax

In [0]:
# Tuple are indicate by curly brackets

num_tuple = (1, 2, 3)
num_tuple

(1, 2, 3)

In [0]:
# We can check the type of the num_tuple variable

type(num_tuple)

tuple

### 3.3.1 Tuple examples

In [0]:
# Tuple is similar to list, you can retrive value by using the index

num_tuple[0]

1

In [0]:
# The main difference is new values cannot be assigned
# This is called immutable

num_tuple[0] = 3 # This will throw an error

TypeError: ignored

In [0]:
# You can only reassign the whole tuple

tuple_a = ("apples", "bananas", "oranges")
print(tuple_a)

tuple_a = ("berries", "bananas", "oranges")
print(tuple_a)

# Module 4: Operations and Control Flow

## 4.0.0 Indentation matters!

In [0]:
# To tell python that you can in a certain operations (or control flow)
# You have to use spaces to indicate that
# We call it indentation

programming_lauguage = 'Python'

if(programming_lauguage == 'Python'):
    # Add four spaces for the line below to fix the error
    print('I am learning ' + programming_lauguage)
else:
    print('I am learning something else')

I am learning Python

## 4.1.0 if else statements

### 4.1.1 if else syntax

In [0]:
# Here is an example of an if else statement

iphone = 9000
samsung = 5000

if(iphone>samsung):
    print('buy Samsung!')
else:
    print('buy iphone!')

### 4.1.2 elif statements

In [0]:
# You can also uses elif to add one more if cluase

iphone = 9000
samsung = 5000

if(iphone > samsung):
    print('buy Samsung!')
elif (samsung >= 6000 ):
    print('buy iphone!')
else:
    print('No need to buy a phone')

### 4.1.3 Multiple conditions in if else

In [0]:
# You can also evaluate with more than one condition

iphone = 9000
samsung = 5000

if(iphone > samsung) and (samsung <= 6000 ):
    print('buy Samsung!')
elif (samsung >= 6000 ):
    print('buy iphone!')
else:
    print('No need to buy a phone')

buy Samsung!

## 4.2.0 for loop

### 4.2.1 for loop syntax

In [0]:
# You can loop through a list of values

shopping_list = ["bananas", "chocolate", "carrots"]

# We can automatically loop through list elements without using indexes

for item in shopping_list:
    print("today I brought some " + item)

today I brought some bananas
today I brought some chocolate
today I brought some carrots

### 4.2.2 for loop examples

In [0]:
# You can also loop rough a range of numbers

result=0
for i in range(1,11):
    result = result+i
    print(result)

1
3
6
10
15
21
28
36
45
55

In [0]:
# You can loop two list together
# Using zip()

list_1 = [1, 2, 3]
list_2 = [3, 4, 5]

for x, y in zip(list_1, list_2):
    print(x, y)

1 3
2 4
3 5

In [0]:
# You can also get the index of the item during the loop 
# Using enumerate()

list_enumerate = [1, 2, 3, 4, 5, 6]

for i, x in enumerate(list_enumerate):
    print(i, x)

0 1
1 2
2 3
3 4
4 5
5 6

## 4.3.0 While loop

### 4.3.1 while loop syntax

In [0]:
# Here is a while loop example

i = 1

while i < 6:
    print(i)
    i = i + 1 

print(i)

1
2
3
4
5
6

### 4.3.2 break statement and infinite loop

In [0]:
# 

i = 1

while i < 6:
  print(i)
  if i == 3:
    break
  i += 1